<h1 class="pt-3">Список Імен</h1>
<div class="mb-5">
  <% @categories.each do |category| %>
    <%= link_to category, names_path(populate_filters(category: category)), class: "btn btn-plain" %>
  <% end %>
</div>

<ul>
  <% @names.each do |name| %>
  <li><%= link_to name.title, name_path(name) %></li>
  <% end %>
</ul>

<%= link_to "Create new name", new_name_path %>