<div class="row">
  <div class="col">
    <div class="search-field mx-auto">
      <div class="input-group mb-3 pt-3">
        <input type="text" class="form-control rounded-pill" placeholder="Пошук на сайті" aria-label="Recipient's username" aria-describedby="button-addon2">
      </div>
    </div>
  </div>
</div>