/*
Font options

font-family: 'Raleway', sans-serif;
font-family: 'Lora', serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Rubik', sans-serif;
*/

/*
Fonts setup
*/

.nav-font {
  font-family: 'Raleway', sans-serif;
  font-size: 18px !important;
}

.nav-link {
  font-family: 'Raleway', sans-serif;
  font-size: 18px !important;
}

.nav-search {
  font-family: 'Raleway', sans-serif;
  font-size: 18px !important;
}

h1 {
  font-family: 'Montserrat', sans-serif;
}

h4 {
  font-family: 'Lora', serif;
}

p {
  font-family: 'Rubik', sans-serif;
  font-size: 18px !important;
}

.btn {
  font-family: 'Montserrat', sans-serif;
}

.plain-text {
  font-family: 'Rubik', sans-serif;
  font-size: 18px !important;
}

.btn-action {
  font-size: 19px !important;
}

.post-wrapper h4, h3, h2, h1 {
  font-family: 'Montserrat', sans-serif;
}


/*
HTML elements styles
*/

body {
  background-color: #FCE38A !important;
}

h1 {
  margin-bottom: 16px !important;
}

.page-heading {
  padding-top: 15px;
}


/*
Bootstrap improvements
 */

.dropdown-menu {
  max-height: 340px;
  overflow-y: auto;
}

.list-group-item {
  background-color: transparent !important;
}


/*
Wrappers styles
*/

.content-wrapper {
  background-color: #F0F5F9;
  border-radius: 50px 50px 50px 50px;
}

@media screen and (max-width: 767px) {
  .content-wrapper {
    border-radius: 30px 30px 30px 30px;
  }
}


/*
Navbar styles
*/

.navbar-light .navbar-nav .nav-link {
  color: #000 !important;
}

.nav-search {
  height: 35px !important;
  margin-top: 11px;

  background-color: #F0F5F9 !important;
  box-shadow: inset 5px 5px 4px #dadfe3, inset -5px -5px 4px #ffffff;
  border-radius: 15px !important;
  border: 0 !important;
}

nav.navbar ul.navbar-nav a {
  text-decoration: none;
  position: relative;
  display: inline-block;
}
nav.navbar ul.navbar-nav a::after {
  content: '';
  width: 100%;
  position: absolute;
  top: 100%;
  left: 0;
  height: 2px;
  background-color: #FF165D;
  transform: scaleX(0);
  transition: transform .35s ease;
}
nav.navbar ul.navbar-nav a:hover::after {
  transform: scaleX(1);
}


/*
Main page styles
*/

.main-page-block {
  margin-bottom: 80px;
}


/*
Names styles
*/

.name-wrapper {
  width: 70%;
  margin: auto;
}

@media screen and (max-width: 767px) {
  .name-wrapper {
    width: 100%;
  }
}

.name-page-section {
  margin-bottom: 48px;
}

.name-box {
  padding: 5px;
  border-radius: 15px;
  background-color: #ecf0f3;
  transition: background-color 0.5s;
}

.name-box:hover {
  background-color: #FCE38A;
}

.name-link {
  text-decoration: none;
  color: inherit;
}

.name-link:hover {
  color: inherit;
}

.remove-filter-link {
  text-decoration: underline;
  color: inherit;
  transition: color .2s;
}

.remove-filter-link:hover {
  color: #ec0000;
}


/*
Selections styles
*/

.selection {
  padding: 30px;
}


/*
Name days Calendar styles
*/

.celebration-box {
  background: #F0F5F9;
  box-shadow: 0px 5px 15px -5px rgba(0, 0, 0, 0.1);
  border-radius: 30px;

  padding: 20px;
  height: 100%;
}


/*
Post styles
 */

.post-wrapper {
  width: 70%;
  margin: auto;
}

@media screen and (max-width: 767px) {
  .post-wrapper {
    width: 100%;
  }
}

.post-tag {
  text-decoration: none;
  color: inherit;
}

.post-tag:hover {
  color: inherit;
}

#showMoreTags.collapse {
  display: block;
  height: 40px !important;
  overflow: hidden;
}

#showMoreTags.collapse.show {
  height: 100% !important;
}

#showMoreTags.collapsing {
  min-height: 40px;
  max-height: inherit !important;
}

.collapse-tags-link a.collapsed:before  {
  content: '+';
}

.collapse-tags-link a:not(.collapsed):before {
  content: '-';
}

.post-thumb-link {
  text-decoration: none;
  color: inherit;
}

.post-thumb-link .read-forward {
  font-size: 16px !important;
  text-decoration: underline;
  margin: 0;
}

.post-thumb {
  padding: 30px;
  border-bottom: 1px solid;
  border-color: #BBBBBB;
  transition: box-shadow .25s cubic-bezier(0.215, 0.610, 0.355, 1.000);
}

.post-thumb:hover {
  box-shadow: 0 5px 20px -5px rgba(91, 91, 91, 0.6);
  z-index: 1;
}


/*
Buttons styles
*/

.btn {
  box-shadow: 5px 5px 10px #CCD0D4, -5px -5px 10px #FFFFFF;
  border-radius: 15px !important;
  padding: 5px 30px !important;
  margin-right: 20px !important;
  margin-bottom: 20px !important;
}

.btn-letter {
  width: 50px;
  height: 50px;
  padding: 12px 0px !important;
  margin-right: 10px !important;
  margin-bottom: 10px !important;
  border-radius: 100% !important;
}

.btn-plain {
  color:  #535353 !important;
  transition: color .2s !important;
}

.btn-plain:hover {
  color: #FCE38A !important;
}

.btn-action {
  color:  #FF165D !important;
  transition: color .2s !important;
}

.btn-action:hover {
  color: #fc3887 !important;
}
